<p>
  <mat-toolbar class="toolbar" color="primary">
    <span>CRUD Operations</span>
    <span class="example-spacer"></span>
    <div>
      <a routerLink="/table">
        <button mat-stroked-button>Table View</button>
      </a>
      <a routerLink="/tree">
        <button mat-stroked-button>Tree View</button>
      </a>
      <a routerLink="/treenode">
        <button mat-stroked-button>Strapi Tree</button>
      </a>
      <a routerLink="/tablestrapi">
        <button mat-stroked-button>Strapi Table</button>
      </a>
    </div>
  </mat-toolbar>
</p>
