.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 170px;
  margin-bottom: 50px;
}
button {
  margin-right: 5px;
}

@media only screen and (max-width: 650px) {
  .toolbar {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: auto;
  }
}
